.vorname_cls .x-grid-item
{
	color: red;
}

.my-red-row
{
	color: red;
}

.my-header
{
	background-color: lightblue;
	height: 45px;
	font-size: 23px;
}

.my-header .x-title-text
{
	font-size: 23px;
	text-align: center;
	color: midnightblue;
}

.my-window
{
	height: 300px;
    width: 500px;
    top: 520px;
}
